.build-group {
  display: inline-flex;
  flex-wrap: wrap;

  >.build {
    flex: 1 1 400px;
    padding: 15px;
    margin: 10px;

    >.header {
      >.build-name {
        margin-top: 0;
        margin-bottom: 10px;
      }

      >.build-author {
        float: right;
        font-size: 12px;
        color: #616161;
      }

      >.build-img {
        display: inline-block;
        width: 150px;
      }

      >.build-desc {
        display: inline-block;
        width: calc(100% - 155px);
        vertical-align: top;

        ul.component-list {
          list-style: none;
          margin: 0;
          width: 100%;
          padding-left: 15px;
        }

        h2,
        h4 {
          margin: 0;
          padding: 0 10px;
        }
      }
    }

    >.footer {
      margin-top: 5px;

      >.ratings {
        display: inline-block;
        margin-top: 5px;

        .rating {
          display: inline-flex;
          vertical-align: middle;

          >span {
            line-height: 1.4;
          }
        }
      }

      .actions {
        float: right;

        >button+button {
          margin-left: 10px;
        }
      }

    }
  }

}
