<div class="build-group">
  <div class="build mat-elevation-z8" *ngFor="let build of builds">
    <div class="header">
      <span class="build-author">Author: {{build.owner.name}}</span>
      <h2 class="build-name">{{build.name}}</h2>
      <div class="build-img">
        <img src="http://via.placeholder.com/150x150" alt="">
      </div>
      <div class="build-desc">
        <ul class="component-list">
          <li><i class="flaticon-017-processor"></i> {{build.components.cpu.manufacturer}}
            {{build.components.cpu.model}}</li>
          <li><i class="flaticon-054-cooler"></i> {{build.components.cpu_cooler.manufacturer}}
            {{build.components.cpu_cooler.model}}</li>
          <li><i class="flaticon-025-usb"></i> {{build.components.motherboard.manufacturer}}
            {{build.components.motherboard.model}}</li>
          <li><i class="flaticon-019-computer"></i> {{build.components.case.manufacturer}}
            {{build.components.case.model}}</li>
          <li><i class="flaticon-018-power-source"></i> {{build.components.psu.manufacturer}}
            {{build.components.psu.model}}</li>
          <li><i class="flaticon-004-video-card"></i> {{build.components.gpu.manufacturer}}
            {{build.components.gpu.model}}</li>
          <li *ngFor="let drive of build.components.drive"><i class="flaticon-041-hard-disk"></i>
            {{drive.manufacturer}} {{drive.model}}</li>
          <li><i class="flaticon-013-ram"></i> {{build.components.memory.manufacturer}}
            {{build.components.memory.model}}</li>
        </ul>
      </div>
    </div>
    <div class="footer">
      <div class="ratings">
        <div class="rating">
          <span>3</span>
          <mat-icon>comment</mat-icon>
        </div>
        &emsp;
        <div class="rating">
          <span>11</span>
          <mat-icon>favorite</mat-icon>
        </div>
      </div>
      <div class="actions">
        <button mat-raised-button color="secondary">Editar</button>
        <button mat-raised-button color="primary">Ver</button>
      </div>
    </div>
  </div>
</div>