<mat-dialog-content>
  <mat-tab-group >
  <mat-tab label="Acceder">
    <form class="popup-form" #login="ngForm" (ngSubmit)="signIn()">
      <div>
        <mat-form-field>
          <mat-icon matPrefix>email</mat-icon>
          <input type="email" matInput name="login-email" [(ngModel)]="loginForm.email" placeholder="Email" required>
          <mat-error>Campo requerido</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-icon matPrefix>lock</mat-icon>
          <input type="password" matInput name="password"  [(ngModel)]="loginForm.password"  placeholder="Password" required>
          <mat-error>Campo requerido</mat-error>
        </mat-form-field>
      </div>
      <button type="submit" mat-raised-button color="primary" [disabled]="!login.valid || loading">Acceder</button>
      <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    </form>
  </mat-tab>
  <mat-tab label="Registrar">
    <form class="popup-form" #register="ngForm"  (ngSubmit)="newUser()">
      <div>
        <mat-form-field>
          <div matPrefix>
            <mat-icon >person</mat-icon>&nbsp;
          </div>
          <input matInput name="username" [(ngModel)]="registerForm.username" #username="ngModel" placeholder="Username" required minlength="4">
          <mat-error *ngIf="username.invalid && (username.dirty || username.touched)">
            <span *ngIf="username.errors.required">Campo requerido</span>
            <span *ngIf="username.errors.minlength">Campo demasiado corto</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-icon matPrefix>email</mat-icon>
          <input type="email" matInput name="email" [(ngModel)]="registerForm.email"  placeholder="Email" required #email="ngModel" email="true">
          <mat-error *ngIf="email.invalid && (email.dirty || email.touched)">
            <span *ngIf="email.errors.required">Campo requerido</span>
            <span *ngIf="email.errors.email">Email no valido</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-icon matPrefix>lock</mat-icon>
          <input type="password" matInput name="password" [(ngModel)]="registerForm.password"  placeholder="Password" minlength="4" #password="ngModel" required>
          <mat-error *ngIf="password.invalid && (password.dirty || password.touched)">
            <span *ngIf="password.errors.required">Campo requerido</span>
            <span *ngIf="password.errors.minlength">Campo demasiado corto</span>
          </mat-error>
        </mat-form-field>
      </div>
      <button type="submit" mat-raised-button color="primary" [disabled]="!register.valid">Crear cuenta</button>
    </form>
  </mat-tab>
  </mat-tab-group>
</mat-dialog-content>
