.login-block{
  max-width: 300px;
  margin: auto;
  text-align: center;

  .mat-form-field{
    width: 300px;
  }

  button{
    display: block;
    width: 100%;
  }
}

form.popup-form{
  text-align: center;
  margin: auto;
  display: block;

  mat-form-field, button[type=submit]{
    display: block;
    width: 100%;
  }
}

.loading-spinner{
  display: none;
}
