	/*
  	Flaticon icon font: Flaticon
  	Creation date: 07/07/2017 08:05
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
font-style: normal;
}

.flaticon-001-mouse-3:before { content: "\f100"; }
.flaticon-002-keyboard-1:before { content: "\f101"; }
.flaticon-003-webcam:before { content: "\f102"; }
.flaticon-004-video-card:before { content: "\f103"; }
.flaticon-005-vga-1:before { content: "\f104"; }
.flaticon-006-vga:before { content: "\f105"; }
.flaticon-007-usb-1:before { content: "\f106"; }
.flaticon-008-usb-port:before { content: "\f107"; }
.flaticon-009-usb-cable-1:before { content: "\f108"; }
.flaticon-010-usb-cable:before { content: "\f109"; }
.flaticon-011-thunderbolt:before { content: "\f10a"; }
.flaticon-012-sata:before { content: "\f10b"; }
.flaticon-013-ram:before { content: "\f10c"; }
.flaticon-014-cpu-9:before { content: "\f10d"; }
.flaticon-015-cpu-8:before { content: "\f10e"; }
.flaticon-016-processor-1:before { content: "\f10f"; }
.flaticon-017-processor:before { content: "\f110"; }
.flaticon-018-power-source:before { content: "\f111"; }
.flaticon-019-computer:before { content: "\f112"; }
.flaticon-020-cpu-7:before { content: "\f113"; }
.flaticon-021-mouse-2:before { content: "\f114"; }
.flaticon-022-mouse-1:before { content: "\f115"; }
.flaticon-023-monitor:before { content: "\f116"; }
.flaticon-024-antenna:before { content: "\f117"; }
.flaticon-025-usb:before { content: "\f118"; }
.flaticon-026-display-1:before { content: "\f119"; }
.flaticon-027-magsafe:before { content: "\f11a"; }
.flaticon-028-mouse:before { content: "\f11b"; }
.flaticon-029-macbook-pro:before { content: "\f11c"; }
.flaticon-030-mac-pro:before { content: "\f11d"; }
.flaticon-031-mac-mini:before { content: "\f11e"; }
.flaticon-032-laptop-2:before { content: "\f11f"; }
.flaticon-033-laptop-1:before { content: "\f120"; }
.flaticon-034-keyboard:before { content: "\f121"; }
.flaticon-035-imac:before { content: "\f122"; }
.flaticon-036-cpu-6:before { content: "\f123"; }
.flaticon-037-hdmi-1:before { content: "\f124"; }
.flaticon-038-hdmi:before { content: "\f125"; }
.flaticon-039-hard-drive:before { content: "\f126"; }
.flaticon-040-hard-disk-1:before { content: "\f127"; }
.flaticon-041-hard-disk:before { content: "\f128"; }
.flaticon-042-floppy-disk:before { content: "\f129"; }
.flaticon-043-flash-drive:before { content: "\f12a"; }
.flaticon-044-firewire:before { content: "\f12b"; }
.flaticon-045-cpu-5:before { content: "\f12c"; }
.flaticon-046-ethernet-3:before { content: "\f12d"; }
.flaticon-047-ethernet-2:before { content: "\f12e"; }
.flaticon-048-ethernet-1:before { content: "\f12f"; }
.flaticon-049-ethernet:before { content: "\f130"; }
.flaticon-050-cpu-4:before { content: "\f131"; }
.flaticon-051-cpu-3:before { content: "\f132"; }
.flaticon-052-graphic-tablet:before { content: "\f133"; }
.flaticon-053-display:before { content: "\f134"; }
.flaticon-054-cooler:before { content: "\f135"; }
.flaticon-055-compact-disc:before { content: "\f136"; }
.flaticon-056-burn-cd:before { content: "\f137"; }
.flaticon-057-cpu-2:before { content: "\f138"; }
.flaticon-058-cpu-1:before { content: "\f139"; }
.flaticon-059-cpu:before { content: "\f13a"; }
.flaticon-060-laptop:before { content: "\f13b"; }
