ul.navbar>li {
  display: inline;
}

@media screen and (max-width: 576px) {
  ul.navbar {
    margin: auto;
    padding-left: 0;
    text-align: center;
  }

  .mat-button {
    font-size: 11px !important;
    padding: 0 8px;
  }

  .menu-icon {
    display: block !important;
    text-align: center;
    margin: auto;
    font-size: 24px;
    height: 16px;
    padding-top: 5px;
  }
}

.component-menu {
  overflow: hidden;
  justify-content: center;
  flex-wrap: wrap;

  &.closed {
    max-height: 0px;
    transition: all 0.3s ease-out;

    >a {
      transition: opacity 0.3s ease-in;
      opacity: 0;
    }
  }

  &.open {
    max-height: 400px;
    height: 100%;
    transition: max-height 0.3s ease-in;

    >a {
      opacity: 1;
      transition: opacity 0.3s ease-out;
    }
  }

  a.submenu-btn {
    color: #222222;
    flex: 1 0 20%;
    text-align: center;
    background-color: #ececec;
    text-decoration: none;
    margin: 6px;
    font-size: 14px;
  
    >i {
      font-size: 20px;
      margin-top: 4px;
      margin-right: 4px;
    }
  }
  
  @media (max-width: 800px) {
    a.submenu-btn {
      flex-basis: 40%;
    }
  }
  
  @media (max-width: 600px) {
    a.submenu-btn {
      flex-basis: 100%;
    }
  }
}


.mat-toolbar.mat-primary.home-menu {
  background: #ffffff !important;
}

.mat-toolbar.mat-primary.home-menu .mat-button {
  color: #3f51b5
}
