<mat-toolbar color="primary" class="mat-elevation-z6 fixed-header">
  <mat-toolbar-row>
    <a routerLink="."><img height="45" align="middle" src="assets/images/logo.png" alt=""></a>
    <span style="flex: 1 1 auto;"></span>
    <ul class="navbar" role="navigation">
      <li><a mat-button (click)="toggleMenu()">
          <mat-icon class="menu-icon">memory</mat-icon>&nbsp;COMPONENTES
        </a></li>
      <li><a mat-button routerLink="builds">
          <mat-icon class="menu-icon">developer_board</mat-icon>&nbsp;<i>BUILDS</i>
        </a></li>
      <li *ngIf="!loggedIn"><a mat-button (click)="openLogin()">
          <mat-icon class="menu-icon">person</mat-icon>&nbsp;ACCEDER / REGISTRARSE
        </a></li>
      <li *ngIf="loggedIn">
        <a mat-button [matMenuTriggerFor]="userMenu">
          <mat-icon class="menu-icon">person</mat-icon>&nbsp;{{username | uppercase}}&nbsp;<mat-icon>arrow_drop_down
          </mat-icon>
        </a>
        <mat-menu #userMenu="matMenu">
          <button mat-menu-item routerLink="my-builds">
            <mat-icon>developer_board</mat-icon>
            <span>MIS <i>BUILDS</i></span>
          </button>
          <button mat-menu-item>
            <mat-icon>settings</mat-icon>
            <span>EDITAR PERFIL</span>
          </button>
          <button mat-menu-item (click)="logOut()">
            <mat-icon>exit_to_app</mat-icon>
            <span>SALIR</span>
          </button>
        </mat-menu>
      </li>
    </ul>
  </mat-toolbar-row>
  <mat-toolbar-row class="component-menu" [ngClass]="{'open': showMenu,  'closed': !showMenu }">
    <a *ngFor="let component of componentList" class="submenu-btn mat-elevation-z6"
      [routerLink]="['/components', component.url]" (click)="toggleMenu()">
      <i [class]="component.icon"></i>
      <span>{{component.name}}</span>
    </a>
  </mat-toolbar-row>
</mat-toolbar>
