<header class="app-header">
  <h1 class="mat-h1">Buildy</h1>
  <h2>Tu comparador de componentes</h2>
  <button mat-raised-button (click)="openLogin()">Empieza ahora!</button>
</header>
<div class="features">
  <div class="feature">
    <img height="50" src="assets/images/observe.svg" alt="">
    <p>
      Observa en todo momento los productos que te interesan
    </p>
  </div>
  <div class="feature">
    <img height="50" src="assets/images/graph.svg" alt="">
    <p>
      Conooce y anticipa la tendencia del mercado
    </p>
  </div>
  <div class="feature">
    <img height="50" src="assets/images/notification.svg" alt="">
    <p>
      Recibe alertas segun tus preferencias
    </p>
  </div>
  <div class="feature">
    <img height="50" src="assets/images/comment.svg" alt="">
    <p>
      Comparte tus opiniones con los demas usuarios
    </p>
  </div>
</div>
