header {
  background-color: #3f51b5;
  color: #fff;
  margin-top: -16px;
  text-align: center;
  padding: 60px 0;

  >h1 {
    font-size: 56px;
    font-weight: 300;
    line-height: 56px;
    margin: 15px 5px;
  }

  >h2 {
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    margin: 15px 0 25px;
  }
}

.features {
  display: flex;
  max-width: 1000px;
  flex-wrap: wrap;
  margin: auto;

  >.feature {
    padding: 2rem;
    flex: 1 0 15%;
    text-align: center;
  }

  @media (max-width: 800px) {
    .feature {
      flex-basis: 30%;
    }
  }

  @media (max-width: 600px) {
    .feature {
      flex-basis: 40%;
    }
  }

  @media (max-width: 400px) {
    .feature {
      flex-basis: 100%;
    }
  }

}
