@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

.build-actions{
    text-align: right; 
    margin-top: 10px;
    button + button {
        margin-left: 10px;
    }
}

mat-form-field{
    max-width: 500px; 
    width:100%;
}