<mat-tab-group (selectedTabChange)="changeTab($event)">
  <mat-tab label="Nueva Build">
    <div class="content">
      <div class="form-group build-actions">
        <button mat-raised-button>
          <mat-icon>share</mat-icon> Compartir
        </button>
        <button mat-raised-button color="primary" (click)="finishBuild()" [disabled]="!validBuild">
          <mat-icon>done</mat-icon> Finalizar
        </button>
      </div>
      <mat-form-field>
        <input matInput name="name" #name placeholder="Nombre" (blur)="saveBuild()">
      </mat-form-field><br />
      <mat-form-field>
        <textarea matInput #desc placeholder="Descripción" (blur)="saveBuild()"></textarea>
      </mat-form-field>
      <ngx-datatable class="material" [rows]="rows" [loadingIndicator]="loadingIndicator" [columnMode]="'force'"
        [headerHeight]="40" [footerHeight]="40" [rowHeight]="'auto'">
        <ngx-datatable-column>
          <ng-template ngx-datatable-header-template>
            Component
          </ng-template>
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            <strong *ngIf="row.model">{{row.manufacturer}} {{row.model}}</strong>
            <div *ngIf="!row.model">
              <button mat-button color="primary" [routerLink]="['/components', row.type]">
                <mat-icon>add</mat-icon> Select {{row.type}}
              </button>
            </div>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Price">
          <ng-template let-column="column" ngx-datatable-header-template>
            Precio
          </ng-template>
          <ng-template let-value="value" ngx-datatable-cell-template>
            <strong *ngIf="value">{{value}}</strong>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Options">
          <ng-template let-column="column" ngx-datatable-header-template>
            Opciones
          </ng-template>
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            <mat-icon *ngIf="row._id !== ''" (click)="deleteComponent(row)">clear</mat-icon>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-footer>
          <ng-template ngx-datatable-footer-template let-curPage="curPage" let-offset="offset">
            <div style="padding: 5px 10px">
              <strong>Precio total: {{build.price | currency: 'EUR'}}</strong>
            </div>
          </ng-template>
        </ngx-datatable-footer>
      </ngx-datatable>
    </div>
  </mat-tab>
  <mat-tab label="Builds Finalizadas">
    <app-build-group [builds]="finishedBuilds"></app-build-group>
  </mat-tab>
</mat-tab-group>
