

:host > div{
  margin: 10px;
}

.heading-section{
  color: rgba(0,0,0,.54);
  font-size: 14px;
  font-weight: 500;
  padding: 10px 16px;
  margin: 0;
}

.new-comment{
  padding: 16px;
  border-bottom:  1px solid grey;
}

.new-comment mat-form-field{
  width: 100%;
}

.comments > .comment > div{
  padding: 10px;
}

.comment > .comment-footer > .comment-rating{
  display: inline-block;
}

 .comments > .comment > .comment-footer > .comment-options{
  float: right;
  > a{
    margin-right: 10px;
  }
}
