<div class="mat-elevation-z8">
  <h3 class="heading-section">Comentarios</h3>
  <div class="new-comment" *ngIf="user">
    <mat-form-field>
      <textarea matInput rows="4" placeholder="Nuevo comentario" [(ngModel)]="commentDescription"></textarea>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="addComment();"><mat-icon>message</mat-icon> Añadir comentario</button>
  </div>
  <div class="comments">
    <div class="comment" *ngFor="let comment of comments">
      <div class="comment-header">
          <span class="comment-author">{{comment.author.username}}</span> | <span class="comment-date">{{comment.created | date:'medium'}}</span>
      </div>
      <div class="comment-description">
        {{comment.description}}
      </div>
      <div class="comment-footer">
        <div class="comment-rating">
         <button mat-icon-button [color]="getThumbColor(comment.rating)" (click)="likeComment(comment);">
            <mat-icon>thumb_up</mat-icon>
          </button>
         <span>{{comment.rating.length}}</span>
        </div>
        <div class="comment-options" *ngIf="user">
          <a href="#" *ngIf="user._id == comment.author._id">eliminar</a>
          <a href="#" *ngIf="user._id == comment.author._id">editar</a>
          <a href="#">reportar</a>
        </div>
      </div>
    </div>
  </div>
</div>
