
@import "~frappe-charts/dist/frappe-charts.min.css";


.product-detail{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .product-detail > div{
    flex: 1;
    min-width: 300px;
    max-width: 700px;
    margin: 10px;
  }
  
  .product-detail .heading-section {
    color: rgba(0,0,0,.54);
    font-size: 14px;
    font-weight: 500;
    padding: 2px 16px;
  }
  
  .product-detail .gallery {
    align-self: flex-start;
  }
  
  .product-detail .gallery > .big{
    width: auto;
    height: 300px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 10px;
  }
  
  .product-detail .gallery > .empty{
    text-align: center;
    margin: 50px 0;
    > img{
      width: 70px;
    }
  }
  
  .product-detail .gallery > .small{
    width: 19%;
    padding: 5px;
    display: inline-block;
    vertical-align: middle;
  }
  
  .product-detail .gallery > .small > img{
    width: 100%;
  }
  
  .ngx-datatable.material:not(.cell-selection) .datatable-body-row:hover, .ngx-datatable.material:not(.cell-selection) .datatable-body-row:hover .datatable-row-group{
    cursor: pointer;
  }
  
  .mat-list .mat-list-item.mat-2-line, .mat-nav-list .mat-list-item.mat-2-line, .mat-selection-list .mat-list-item.mat-2-line {
    height: 48px!important;
  }
  