<div class="content">
  <h1>{{component.manufacturer}} {{component.model}}</h1>
  <div class="form-group product-detail">
    <div class="gallery mat-elevation-z8">
      <h3 class="heading-section">Galeria</h3>
      <div *ngIf="component.images.length === 0" class="empty">
          <img src="assets/images/camera.svg" alt="">
          <p>No hay imagenes disponibles</p>
      </div>
       <div *ngIf="component.images.length > 0" class="big" [style.background-image]="selectedImage">

      </div> 
      <div class="small" *ngFor="let image of component.images;">
        <img src="assets/images/components/{{image}}" alt="" (click)="setMainImg(image)">
      </div>
    </div>
    <div class="info mat-elevation-z8">
      <mat-list>
        <h3 mat-subheader>Información</h3>
        <mat-list-item *ngFor="let key of keys;">
          <mat-icon mat-list-icon>label</mat-icon>
          <h4 mat-line>{{key}}</h4>
          <p mat-line> {{component[key]}} </p>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
    </div>
  </div>
  <div class="form-group product-detail">
    <div id="retailers">
      <ngx-datatable  class="material" [rows]="rows" [columns]="columns" [columnMode]="'force'" [headerHeight]="40" [footerHeight]="40" [rowHeight]="'auto'" (activate)="onActivate($event)">
        <ngx-datatable-column name="Name">
          <ng-template ngx-datatable-header-template>
            Fabricante
          </ng-template>
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.name}}
            <!-- <img class="manufacturer-logo" src="/assets/images/{{row.manufacturer | lowercase}}.png" alt=""> -->
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Price">
          <ng-template ngx-datatable-header-template>
            Precio
          </ng-template>
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.price}} €
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Stock">
          <ng-template ngx-datatable-header-template>
            Stock
          </ng-template>
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.stock}}
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
    <div class="card mat-elevation-z8">
      <div id="chart"></div>
    </div>
  </div>
  <app-comment [comments]="component.comments" [type]="type" [componentId]="id"></app-comment>
</div>
