.add-form {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
  padding: 10px;
  margin-bottom: 15px;
  border-top: 5px solid #3f51b5;
  border-radius: 6px;

  .input-group {
    display: flex;
    flex-wrap: wrap;

    >* {
      margin: 5px;
      flex: 0 1 335px;
    }

    .form-footer {
      margin-bottom: 15px;
    }

  }
}

.filters{
  > * {
    margin-right: 10px;
  }
}

img.manufacturer-logo {
  max-height: 20px;
  max-width: 100%;
}

.ngx-datatable.material:not(.cell-selection) .datatable-body-row:hover,
.ngx-datatable.material:not(.cell-selection) .datatable-body-row:hover .datatable-row-group {
  cursor: pointer;
}

.datatable-row-detail {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.ngx-datatable .datatable-body .datatable-scroll {
  width: 100% !important;
}

@media screen and (min-width: 577px) {
  .datatable-body-cell {
    display: inline-block !important;
  }

  .mobile-only {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .ngx-datatable.expandable .datatable-body-cell {
    display: none !important;
  }

  .mobile-only {
    display: block;
  }

  .ngx-datatable.material .datatable-body .datatable-row-detail {
    background-color: #ffffff;
  }
}
