<div class="content">
    <div class="form-group" *ngIf="this.loggedIn">
      <button mat-raised-button color="primary" (click)="newComponent();"><mat-icon>add_circle_outline</mat-icon> Nuevo componente</button>
    </div>

    <form class="add-form" *ngIf="showAddForm">
      <div class="input-group" *ngIf="type=='cpu'">
        <mat-form-field>
          <mat-select placeholder="Fabricante" [(ngModel)]="componentForm.manufacturer" name="manufacturer" (selectionChange)="loadSockets()">
            <mat-option *ngFor="let type of constants.cpuManufacturers" [value]="type">
              {{type}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Socket" [(ngModel)]="componentForm.socket" name="socket">
            <mat-option *ngFor="let socket of sockets" [value]="socket">
              {{socket}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input matInput name="model" [(ngModel)]="componentForm.model" placeholder="Modelo" required>
          <mat-error>Campo requerido</mat-error>
          <mat-hint align="start"><strong>ej: i5-7600k or Ryzen 5 1600X</strong> </mat-hint>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="number" step="0.2" name="clock" placeholder="Vel.reloj (GHz)" name="clock" [(ngModel)]="componentForm.clock" required>
          <mat-error>Campo requerido</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="number" name="cores" placeholder="Nucleos" name="cores" [(ngModel)]="componentForm.cores" required>
          <mat-error>Campo requerido</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="number" name="threads" placeholder="Hilos" name="threads" [(ngModel)]="componentForm.threads" required>
          <mat-error>Campo requerido</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput name="tdp" type="number" placeholder="Consumo (W)" name="tdp" [(ngModel)]="componentForm.tdp" required>
          <mat-error>Campo requerido</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput name="igpu" placeholder="GPU integrada" name="igpu" [(ngModel)]="componentForm.igpu">
        </mat-form-field>
      </div>
      <div class="input-group" *ngIf="type=='gpu'">
        <mat-form-field>
          <mat-select placeholder="Fabricante" [(ngModel)]="componentForm.manufacturer" name="manufacturer">
            <mat-option *ngFor="let manu of constants.gpuManufacturers" [value]="manu">
              {{manu}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input matInput name="chipset" [(ngModel)]="componentForm.chipset" placeholder="Chipset" required>
          <mat-error>Campo requerido</mat-error>
          <mat-hint align="start"><strong>ej: Radeon RX VEGA 64</strong> </mat-hint>
        </mat-form-field>
        <mat-form-field>
          <input matInput name="model" [(ngModel)]="componentForm.model" placeholder="Modelo" required>
          <mat-error>Campo requerido</mat-error>
          <mat-hint align="start"><strong>ej: GeForce GTX 1080 AERO 8G OC</strong> </mat-hint>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="number" step="1" name="memory_size" placeholder="Memoria (GB)" name="memory_size" [(ngModel)]="componentForm.memory_size" required>
          <mat-error>Campo requerido</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Tipo memoria" [(ngModel)]="componentForm.memory_type" name="memory_type">
            <mat-option *ngFor="let mem of constants.memTypes" [value]="mem">
              {{mem}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="number" step="0.2" name="clock" placeholder="Vel.reloj (GHz)" name="clock" [(ngModel)]="componentForm.clock" required>
          <mat-error>Campo requerido</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput name="tdp" type="number" placeholder="Consumo (W)" name="tdp" [(ngModel)]="componentForm.tdp" required>
          <mat-error>Campo requerido</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Tecnologia sync" [(ngModel)]="componentForm.sync" name="sync">
            <mat-option value="No">No</mat-option>
            <mat-option value="Freesync">Freesync</mat-option>
            <mat-option value="G-Sync">G-Sync</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input matInput name="ports" [(ngModel)]="componentForm.ports" placeholder="Puertos" required>
          <mat-error>Campo requerido</mat-error>
          <mat-hint align="start"><strong>ej: 2xDVI, 1xDISPLAYPORT, 3xHDMI</strong> </mat-hint>
        </mat-form-field>
      </div>
  
      <div class="input-group" *ngIf="type=='drive'">
        <mat-form-field>
          <mat-select placeholder="Fabricante" [(ngModel)]="componentForm.manufacturer" name="manufacturer">
            <mat-option *ngFor="let manu of constants.driveManufacturers" [value]="manu">
              {{manu}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input matInput name="model" [(ngModel)]="componentForm.model" placeholder="Modelo" required>
          <mat-error>Campo requerido</mat-error>
          <mat-hint align="start"><strong>ej: </strong> </mat-hint>
        </mat-form-field>
        <mat-form-field>
          <input matInput name="size" [(ngModel)]="componentForm.size" placeholder="Tamaño" required>
          <mat-error>Campo requerido</mat-error>
          <mat-hint align="start"><strong>ej: 2,5"</strong> </mat-hint>
        </mat-form-field>
        <mat-form-field>
          <input matInput name="type" [(ngModel)]="componentForm.type" placeholder="Tipo" required>
          <mat-error>Campo requerido</mat-error>
          <mat-hint align="start"><strong>ej: SSD o 7200RPM</strong> </mat-hint>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="number" step="1" name="capacity" placeholder="Capacidad (GB)"  [(ngModel)]="componentForm.capacity" required>
          <mat-error>Campo requerido</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Interfaz" [(ngModel)]="componentForm.interface" name="interface">
            <mat-option value="M.2 (M)">M.2</mat-option>
            <mat-option value="SATA 6 Gb/s">SATA</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
  
  
      <div class="input-group" *ngIf="type=='motherboard'">
        <mat-form-field>
          <mat-select placeholder="Fabricante" [(ngModel)]="componentForm.manufacturer" name="manufacturer">
            <mat-option *ngFor="let manu of constants.moboManufacturers" [value]="manu">
              {{manu}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input matInput name="model" [(ngModel)]="componentForm.model" placeholder="Modelo" required>
          <mat-error>Campo requerido</mat-error>
          <mat-hint align="start"><strong>ej: </strong> </mat-hint>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Socket" [(ngModel)]="componentForm.socket" name="socket">
            <mat-option *ngFor="let socket of sockets" [value]="socket">
              {{socket}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Chipset" [(ngModel)]="componentForm.chipset" name="chipset">
            <mat-option *ngFor="let chipset of chipsets" [value]="chipset">
              {{chipset}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Formato" [(ngModel)]="componentForm.form" name="form">
            <mat-option *ngFor="let form of constants.moboForms" [value]="form">
              {{form}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="number" step="1" name="ram_slots" placeholder="Modulos de RAM"  [(ngModel)]="componentForm.ram_slots" required>
          <mat-error>Campo requerido</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="number" step="1" name="ram_size" placeholder="Max. RAM"  [(ngModel)]="componentForm.ram_size" required>
          <mat-error>Campo requerido</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Tipo memoria" [(ngModel)]="componentForm.ram_type" name="ram_type">
            <mat-option *ngFor="let mem of constants.ramTypes" [value]="mem">
              {{mem}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="number" step="1" name="sata" placeholder="Puertos SATA"  [(ngModel)]="componentForm.sata" required>
          <mat-error>Campo requerido</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="number" step="1" name="pcie" placeholder="Puertos PCIe x16"  [(ngModel)]="componentForm.pcie" required>
          <mat-error>Campo requerido</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="number" step="1" name="m2" placeholder="Puertos M.2"  [(ngModel)]="componentForm.m2" required>
          <mat-error>Campo requerido</mat-error>
        </mat-form-field>
        <!-- <mat-form-field>
          <input matInput name="audio" [(ngModel)]="componentForm.audio" placeholder="Chip Audio" required>
          <mat-error>Campo requerido</mat-error>
        </mat-form-field> -->
        <mat-checkbox  name="wifi"  [(ngModel)]="componentForm.wifi">Wifi</mat-checkbox>
      </div>
  
      <div class="input-group" *ngIf="type=='memory'">
        <mat-form-field>
          <mat-select placeholder="Fabricante" [(ngModel)]="componentForm.manufacturer" name="manufacturer">
            <mat-option *ngFor="let manu of constants.memoryManufacturers" [value]="manu">
              {{manu}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input matInput name="model" [(ngModel)]="componentForm.model" placeholder="Modelo" required>
          <mat-error>Campo requerido</mat-error>
          <mat-hint align="start"><strong>ej: </strong> </mat-hint>
        </mat-form-field>
        <mat-form-field>
          <input matInput name="speed" placeholder="Velocidad (MHz)"  [(ngModel)]="componentForm.speed" required>
          <mat-error>Campo requerido</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="number" step="1" name="size" placeholder="Tamaño (GB)"  [(ngModel)]="componentForm.size" required>
          <mat-error>Campo requerido</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Tipo" [(ngModel)]="componentForm.type" name="type">
            <mat-option *ngFor="let type of constants.ramTypes" [value]="type">
              {{type}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
  
      <div class="input-group" *ngIf="type=='psu'">
        <mat-form-field>
          <mat-select placeholder="Fabricante" [(ngModel)]="componentForm.manufacturer" name="manufacturer">
            <mat-option *ngFor="let manu of constants.psuManufacturers" [value]="manu">
              {{manu}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input matInput name="model" [(ngModel)]="componentForm.model" placeholder="Modelo" required>
          <mat-error>Campo requerido</mat-error>
          <mat-hint align="start"><strong>ej: </strong> </mat-hint>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="number" step="50" name="power" placeholder="Potencia (W)"  [(ngModel)]="componentForm.power" required>
          <mat-error>Campo requerido</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Formato" [(ngModel)]="componentForm.type" name="type">
            <mat-option value="ATX">ATX</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Eficiencia" [(ngModel)]="componentForm.efficiency" name="efficiency">
            <mat-option *ngFor="let cert of constants.efCerificates" [value]="cert">
              {{cert}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Modular" [(ngModel)]="componentForm.modular" name="modular">
            <mat-option value="Full">Full</mat-option>
            <mat-option value="Semi">Semi</mat-option>
            <mat-option value="No">No</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
  
      <div class="input-group" *ngIf="type=='cpu-cooler'">
        <mat-form-field>
          <mat-select placeholder="Fabricante" [(ngModel)]="componentForm.manufacturer" name="manufacturer">
            <mat-option *ngFor="let manu of constants.cpuCoolerManufacturers" [value]="manu">
              {{manu}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input matInput name="model" [(ngModel)]="componentForm.model" placeholder="Modelo" required>
          <mat-error>Campo requerido</mat-error>
          <mat-hint align="start"><strong>ej: </strong> </mat-hint>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text"  name="noise" placeholder="Ruido (dBa)"  [(ngModel)]="componentForm.noise" required>
          <mat-error>Campo requerido</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text"  name="speed" placeholder="Revoluciones (RPM)"  [(ngModel)]="componentForm.speed" required>
          <mat-error>Campo requerido</mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input type="text" placeholder="Socket"  matInput  [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="addNewSocket($event,componentForm.sockets )">
            <mat-option *ngFor="let socket of sockets" [value]="socket">
              {{ socket }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-chip-list >
          <mat-chip *ngFor="let socket of componentForm.sockets"  (remove)="remove(socket,componentForm.sockets )">
            {{socket}}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>
        {{componentForm.sockets}}
        <mat-checkbox  name="liquid"  [(ngModel)]="componentForm.liquid">Liquida</mat-checkbox>
      </div>
  
      <div class="input-group" *ngIf="type=='case'">
        <mat-form-field>
          <mat-select placeholder="Fabricante" [(ngModel)]="componentForm.manufacturer" name="manufacturer">
            <mat-option *ngFor="let manu of constants.caseManufacturers" [value]="manu">
              {{manu}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input matInput name="model" [(ngModel)]="componentForm.model" placeholder="Modelo" required>
          <mat-error>Campo requerido</mat-error>
          <mat-hint align="start"><strong>ej: </strong> </mat-hint>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Formato" [(ngModel)]="componentForm.type" name="type">
            <mat-option *ngFor="let size of constants.caseSizes" [value]="size">
              {{size}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="number" step="1" name="exBig" placeholder="Bahias externas 5,25&#8220;"  [(ngModel)]="componentForm.exBig" required>
          <mat-error>Campo requerido</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="number" step="1" name="inBig" placeholder="Bahias internas 3,5&#8220;"  [(ngModel)]="componentForm.inBig" required>
          <mat-error>Campo requerido</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="number" step="1" name="inSmall" placeholder="Bahias internas 2,5&#8220;"  [(ngModel)]="componentForm.inSmall" required>
          <mat-error>Campo requerido</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="number" step="10" name="cardSize" placeholder="Max. Tamaño GPU (mm)"  [(ngModel)]="componentForm.cardSize" >
          <mat-error>Campo requerido</mat-error>
        </mat-form-field>
      </div>
      <div class="form-group">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Imagenes
                </mat-panel-title>
              </mat-expansion-panel-header>
                <!-- <form   (ngSubmit)="onSubmitImage()" >
                      <input type="text" id="fileName" disabled name="title" [(ngModel)]="selectedFile">
                      <label for="file">
                            <a mat-raised-button color="primary">Seleccionar imagen</a>
                      </label>
                      <input type="file" name="file"  id="file" accept="image/*"  style="display: none" (change)="changeFile($event)">
                      <button type="submit" mat-mini-fab *ngIf="selectedFile != ''"> <mat-icon>cloud_upload</mat-icon> </button>
                </form> -->
                <div class="images" *ngFor="let image of componentForm.images">
                  <img src="assets/images/components/{{image}}" alt="">
                </div>
            </mat-expansion-panel>
      </div>
      <div class="form-group">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Vendedores
            </mat-panel-title>
  
          </mat-expansion-panel-header>
          <!-- <button mat-raised-button color="primary" (click)="addRetailer();">Añadir</button> -->
  
          <div class="new-retailer ">
            <mat-form-field>
              <input matInput placeholder="Vendedor" disabled [(ngModel)]="newRetailer.name" name="newretailer-name">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="url" [(ngModel)]="newRetailer.url" name="newretailer-url">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Precio" type="number" [(ngModel)]="newRetailer.price" name="newretailer-price" disabled>
            </mat-form-field>
            <a mat-raised-button color="primary" (click)="validateRetailer();">Validar</a>
          </div>
  
          <div class="retailer" *ngFor="let retailer of componentForm.retailers; let i = index">
            <mat-form-field>
              <input matInput name="retailer-name-{{i}}" [(ngModel)]="retailer.name" disabled>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="url" name="retailer-url-{{i}}" [(ngModel)]="retailer.url" disabled>
              <mat-error>Campo requerido</mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Precio" type="number" name="retailer-price-{{i}}" [(ngModel)]="retailer.price" disabled>
            </mat-form-field>
            <button mat-raised-button color="danger" (click)="deleteRetailer(i);">Eliminar</button>
          </div>
        </mat-expansion-panel>
      </div>
      <div class="form-footer">
        <button mat-raised-button color="secondary" (click)="showAddForm = false;">Cancelar</button>
        <button mat-raised-button color="primary" (click)="InsertComponent();">Añadir</button>
      </div>
    </form>

    <div class="filters">
        <mat-form-field>
            <input matInput [(ngModel)]="filters.model" #model placeholder="Buscar">
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Fabricante" [(ngModel)]="filters.manufacturer" (selectionChange)="updateFilter()">
              <mat-option value="">Todos</mat-option>
              <mat-option *ngFor="let type of filterManufacturers" [value]="type">
                {{type}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-checkbox [(ngModel)]="filters.priceOnly" (change)="updateFilter()">Solo con precio</mat-checkbox>
    </div>
  
  
    <ngx-datatable #table class="material expandable" 
    [rows]="rows" 
    [columns]="columns" 
    [loadingIndicator]="loadingIndicator" 
    [columnMode]="'force'" 
    [headerHeight]="40" 
    [footerHeight]="40" 
    [rowHeight]="'auto'" 
    [reorderable]="reorderable" 
    (activate)="onActivate($event)"
    [externalPaging]="true"
    [count]="page.totalElements"
    [offset]="page.offset"
    (page)='setDataRows($event)'>
      <!-- Row Detail Template -->
         <ngx-datatable-row-detail [rowHeight]="'auto'" #myDetailRow >
           <ng-template let-column="column" let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
             <div style="padding:10px;">
               <div><h2 class="mat-h2">{{row.manufacturer}} {{row.model}}</h2></div>
               <div class="" *ngIf="type == 'cpu'">
                 <ul style="columns: 2; list-style: none; padding: 0;">
                   <li>Vel. reloj: {{row.clock}}</li>
                   <li>Nucleos: {{row.cores}}</li>
                   <li>Hilos: {{row.threads}}</li>
                   <li>Consumo: {{row.tdp}}</li>
                 </ul>
               </div>
               <div class="" *ngIf="type == 'gpu'">
                 <ul style="columns: 2; list-style: none; padding: 0;">
                   <li>Vel. reloj: {{row.clock}}</li>
                   <li>Memoria: {{row.memory_size}} {{row.memory_type}}</li>
                   <li>Consumo: {{row.tdp}}</li>
                 </ul>
               </div>
               <div class="" *ngIf="type == 'drive'">
                 <ul style="columns: 2; list-style: none; padding: 0;">
                   <li>Capacidad: {{row.capacity}}</li>
                   <li>Tipo: {{row.type}}</li>
                   <li>Interifcie: {{row.interface}}</li>
                 </ul>
               </div>
               <div class="" *ngIf="type == 'motherboard'">
                 <ul style="columns: 2; list-style: none; padding: 0;">
                   <li>Socket: {{row.socket}}</li>
                   <li>Chipset: {{row.chipset}}</li>
                   <li>Forma: {{row.form}}</li>
                   <li>SATA: {{row.sata}}</li>
                   <li>PCI x32: {{row.pcie}}</li>
                 </ul>
               </div>
               <div class="" *ngIf="type == 'memory'">
                 <ul style="columns: 2; list-style: none; padding: 0;">
                   <li>Tipo: {{row.type}}</li>
                   <li>Tamaño: {{row.size}}</li>
                   <li>Frecuencia: {{row.speed}}</li>
                 </ul>
               </div>
               <div class="" *ngIf="type == 'psu'">
                 <ul style="columns: 2; list-style: none; padding: 0;">
                   <li>Tipo: {{row.type}}</li>
                   <li>Eficiencia: {{row.efficiency}}</li>
                   <li>Potencia: {{row.power}}</li>
                   <li>Modular: {{row.modular}}</li>
                 </ul>
               </div>
               <div class="" *ngIf="type == 'case'">
                 <ul style="columns: 2; list-style: none; padding: 0;">
                   <li>Tipo: {{row.type}}</li>
                   <li>Bahias externas: {{row.exBig}}</li>
                   <li>Bahias interas 3,5": {{row.inBig}}</li>
                   <li>Bahias interas 2,5": {{row.inSmall}}</li>
                 </ul>
               </div>
               <div class="" *ngIf="type == 'cpu-cooler'">
                 <ul style="columns: 2; list-style: none; padding: 0;">
                   <li>Ruido: {{row.noise}}</li>
                   <li>Velocidad: {{row.speed}}</li>
                   <li>Liquida: {{row.liquid}}</li>
                 </ul>
               </div>
               <div class="">
                   <button mat-raised-button color="primary"  routerLink="/component/{{type}}/{{row._id}}">Detalles</button>
                   <button *ngIf="loggedIn"  mat-raised-button color="secondary" (click)="editComponent(row, $event);" >Editar</button>
               </div>
             </div>
           </ng-template>
         </ngx-datatable-row-detail>
    </ngx-datatable>
  
  
    <ng-template let-row="row" ngx-datatable-row-detail-template #manuTmpl>
      <img class="manufacturer-logo" src="assets/images/manufacturers/{{row.manufacturer | lowercase}}.png" alt="">
    </ng-template>
  
    <ng-template #controlTmpl let-row="row" ngx-datatable-row-detail-template >
  
      <mat-icon *ngIf="loggedIn" (click)="addComponent(row, $event);">add_circle_outline</mat-icon>
  
      <mat-icon *ngIf="loggedIn" (click)="editComponent(row, $event);">edit</mat-icon>
  
      <!-- <mat-icon *ngIf="loggedIn" >delete</mat-icon> -->
  
    </ng-template>
  
    <ng-template #hdrTpl let-column="column" >
        <span class="desktop-only">{{column.name}}</span>
    </ng-template>
  
  </div>
  