/* Global styles */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'assets/fonts/flaticon.css';

body{
  margin: 0;
  font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.01rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  position: relative;
  &.fixed-layout{
    padding-top: 65px;
    mat-toolbar.fixed-header{
      position: fixed;
      top: 0;
      left: 0;
      z-index: 2;
      width: 100%  !important;
    }
  }
}

.form-group{
  margin-bottom: 15px;
}

.content {
  padding: 30px 3vw;
  margin: auto;
}

@media screen and (min-width: 577px) {
  .desktop-only{
    display: inherit;
  }
  .mobile-only{
    display: none!important;
  }
}

@media screen and (max-width: 576px) {
  .desktop-only{
    display: none!important;
  }
  .mobile-only{
    display: inherit;
  }
}

router-outlet ~ * {
  position: absolute;
  height: 100%;
  width: 100%;
}
